<phpunit
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    colors="true"
    verbose="true"
    strict="true"
    bootstrap="test/bootstrap.php">

    <testsuites>
        <testsuite name="Original">
            <directory>test/</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="memory_limit" value="200M" />
        <ini name="max_execution_time" value="800" />
    </php>

</phpunit>
